@model LumaxDMS.Models.Common_UserAreaModel

<link href="~/Scripts/Choosen/Choosen.css" rel="stylesheet" />
@Html.Hidden("hdnSelectedUserArea")
<div class="row  row_pt">
    <div class="col-lg-2 col-xs-12">
        @Html.DropDownListFor(m => m.C_SelectedAreaType, new SelectList(Model.C_AreaTypeList, "Value", "Text"), new { @class = "form-control po_hdr", @onchange = "return OnChangeAreaType();" })
        @Html.ValidationMessageFor(model => model.C_SelectedAreaType)
    </div>
    <div class="col-lg-10 col-xs-12 forSecondary">
        <div id="dv_lbArea_1" class="dvarea_choosen">
            @Html.ListBoxFor(model => model.C_SelectedIds, new SelectList(Model.C_CountryList, "AREAID", "AREANAME", Model.C_SelectedIds), new { @Id = "lbArea_1", @Name = "sbCountry", @Class = "avaiable_mcode areachosen-select", @placeholder = "Filter By..." })
        </div>
        <div id="dv_lbArea_2" class="dvarea_choosen" style="display:none">
            @Html.ListBoxFor(model => model.C_SelectedIds, new SelectList(Model.C_ZoneList, "AREAID", "AREANAME", Model.C_SelectedIds), new { @Id = "lbArea_2", @Name = "sbZone", @Class = "avaiable_mcode areachosen-select" })
        </div>
        <div id="dv_lbArea_3" class="dvarea_choosen" style="display:none">
            @Html.ListBoxFor(model => model.C_SelectedIds, new SelectList(Model.C_StateList, "AREAID", "AREANAME", Model.C_SelectedIds), new { @Id = "lbArea_3", @Name = "sbState", @Class = "avaiable_mcode areachosen-select" })
        </div>
        <div id="dv_lbArea_4" class="dvarea_choosen" style="display:none">
            @Html.ListBoxFor(model => model.C_SelectedIds, new SelectList(Model.C_TerriotryList, "AREAID", "AREANAME", Model.C_SelectedIds), new { @Id = "lbArea_4", @Name = "sbTerritory", @Class = "avaiable_mcode areachosen-select" })
        </div>
        <div id="dv_lbArea_5" class="dvarea_choosen" style="display:none">
            @Html.ListBoxFor(model => model.C_SelectedIds, new SelectList(Model.C_DistrictList, "AREAID", "AREANAME", Model.C_SelectedIds), new { @Id = "lbArea_5", @Name = "sbDistrict", @Class = "avaiable_mcode areachosen-select" })
        </div>
        <div id="dv_lbArea_6" class="dvarea_choosen" style="display:none">
            @Html.ListBoxFor(model => model.C_SelectedIds, new SelectList(Model.C_CityList, "AREAID", "AREANAME", Model.C_SelectedIds), new { @Id = "lbArea_6", @Name = "sbCity", @Class = "avaiable_mcode areachosen-select" })
        </div>
        <div id="dv_lbArea_7" class="dvarea_choosen" style="display:none;">
            @Html.ListBoxFor(model => model.C_SelectedIds, new SelectList(Model.C_PartyList, "AREAID", "AREANAME",Model.C_SelectedIds), new { @Id = "lbArea_7", @Name = "sbParty", @Class = "avaiable_mcode areachosen-select" })
        </div>
        <div id="dv_lbArea_8" class="dvarea_choosen" style="display:none">
            @Html.ListBoxFor(model => model.C_SelectedIds, new SelectList(Model.C_PartyGroupList, "AREAID", "AREANAME", Model.C_SelectedIds), new { @Id = "lbArea_8", @Name = "sbPartyGroup", @Class = "avaiable_mcode areachosen-select" })
        </div>
    </div>
</div>
<div class="clearfix clearfix2">
    <input type="button" name="btntype" value="Add Row" id="btnadd" onclick="return AddParty();" class="btn btn-primary" style="margin-bottom:15px;" />
</div>
