@model LumaxDMS.Models.ComplaintModel
@using LumaxDMS.AppCode
@{
    ViewBag.Title = "ComplaintList";
}

<div class="card card_ps">
    <div class="panel panel-default panel_pt">
        <div class="header_ps">
            <span>COMPLAINT APPROVAL LIST</span>
        </div>
        <div class="container custom-datable">
            <div class="card-body">
                <div class="panel panel-default">

                    <div class="col-sm-12 col-md-12">
                        @*<div class="panel-heading" style="padding: 10px;">*@
                        @*@if (Model.PermissionNameList.Contains(Constants.PermissionName.CREATE))
                        {
                            <a class="mb-1 btn btn-success pull-right right_bottom" href="/Complaint/CreateComplaint">Create New</a>
                        }*@

                        <table id="ComplaintList" class="table table-striped table-bordered dt-responsive nowrap"
                               style="width: 100%">
                            <thead class="thead-lights">
                                <tr>

                                    <th>
                                        Complaint Code
                                    </th>
                                    <th>
                                        Customer
                                    </th>
                                    <th>
                                        Complaint Type
                                    </th>
                                    <th>
                                        Case Type
                                    </th>
                                    <th>
                                        Complaint Date
                                    </th>
                                    <th>
                                        Approve Value
                                    </th>
                                    <th>
                                        Display Status
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ComplaintList)
                                {
                                <tr>
                                    <td>
                                        @item.COMPLAINTCODE
                                    </td>
                                    <td>
                                        @item.CUSTOMERNAMECODE
                                    </td>
                                    <td>
                                        @item.ComplaintTypeName
                                    </td>
                                    <td>
                                        @item.CaseTypeName
                                    </td>
                                    <td>
                                        @Html.DisplayDate(@item.COMPLAINTDATE) 
                                    </td>
                                    <td>
                                        @item.APPROVEDVALUE
                                    </td>
                                    <td>
                                        @item.DisplayStatus
                                    </td>
                                    <td>
                                        @Html.HiddenFor(m => m.ComplaintList[0].COMPLAINTID, new { id = "hdnComplaintId" })
                                        @if (Model.PermissionNameList.Contains(Constants.PermissionName.EDIT) && item.Action == "EDIT")
                                        {
                                            <a href="/Complaint/CreateComplaintApproval?ComplaintId=@item.COMPLAINTID&ActionName=Edit&@Constants.HASH_COMPLAINT" title="Edit Complaint">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        }
                                        @if (Model.PermissionNameList.Contains(Constants.PermissionName.VIEW) && (item.Action == "VIEW"))
                                        {
                                            <a href="/Complaint/CreateComplaintApproval?ComplaintId=@item.COMPLAINTID&ActionName=view&@Constants.HASH_COMPLAINT" title="View Complaint Details">
                                                <i class=" icon-eye"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section JS {
    <script type="text/javascript">

        $(document).ready(function () {
            $('#ComplaintList').DataTable({
                "order": [[4, "desc"]],
                "aoColumns": [
                    null,
                    null,
                    null,
                    null,
                    { "sType": "date" },
                    null,
                    null,
                    null
                ]
            });
        });

    </script>
}

