@model LumaxDMS.Models.SchemeApplicatorModel
@using LumaxDMS.AppCode
@{
    int i = 0;
}
@if (Model.SchemeItemDetailList != null)
{
    @Html.Hidden("ItemDetailCount", Model.SchemeItemDetailList.Count, new { @Name = "ItemDetailCount" })
}
<div class="col-sm-12 col-md-12">
    <input type="hidden" name="ITEMID[]" id="ITEMIDARR">
    <input type="hidden" name="ITEMQTYARR[]" id="ITEMQTYARR">

    <table id="itemTbl" class=" table table-bordered dt-responsive" style="width:100%;">
        <thead class="thead-lights">
            <tr>
                <th>
                    <input name="cballItem" value="1" id="cballItem" type="checkbox" />
                    <a href="##" id="removeallItem" title="Remove Checked Rows"><i class="fa fa-trash bg_red"></i></a>
                </th>
                <th>
                    Item Code
                </th>
                <th>
                    Item Part Code
                </th>
                <th>
                    Item Description
                </th>
                @*<th>
                        Item Family
                    </th>*@
                <th>
                    Sub Category
                </th>
                <th>
                    Product Category
                </th>
                <th>
                    Segment
                </th>


                <th>
                    Min Qty
                </th>
            </tr>
        </thead>
        @if (Model.SchemeItemDetailList != null)
        {
            <tbody>

                @foreach (var item in Model.SchemeItemDetailList)
                {
                    { i = i + 1; }
                    <tr id="ItemRow_@i">
                        <td>
                            <input type='checkbox' id="Itemcb_@i" name="Itemcb_[]" />
                        </td>
                        <td>
                            @item.SAP_PartNumber
                            @Html.HiddenFor(m => item.ITEM_ID, new { @Id = "PART_ID_" + i })
                        </td>
                        <td>
                            @item.PartNumber
                        </td>
                        <td>
                            @item.PartDescription
                        </td>
                        @*<td>
                                @item.PartFamilyName
                            </td>*@
                        <td>
                            @item.SubcategoryName
                        </td>
                        <td>
                            @item.ProductCategoryName
                        </td>
                        <td>
                            @item.SegmentName
                        </td>


                        <td class="td_width">
                            @Html.TextBoxFor(m => item.MIN_QTY, new { @class = "form-control numberinput", @Id = "MINQTY_" + i })
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>

