@model LumaxDMS.Models.TravelExpenseModel
@Html.DropDownList("HiddenTrvlModeId", new SelectList(Model.TravelModeList.Where(m=>m.ModeType!="Local"), "travelModeId", "travelModeName"), "--Select Mode--", new { @class = "form-control", @Id = "HiddenTrvlModeId", @Name = "HiddenTrvlModeId", @Style = "display:none" })
@Html.DropDownList("HiddenCityId", new SelectList(Model.CityList, "CITY_ID", "CITYNAME"), "--Select--", new { @class = "form-control", @Id = "HiddenCityId", @Name = "HiddenCityId", @Style = "display:none" })

<style type="text/css">
    .table td .chosen-single {
        width: 120px !important;
    }
</style>
<table id="fareexp" class="table table-striped table-bordered" style="width: 100%">
    <thead class="thead-lights">
        <tr>
            <th style="text-align: center">
                S.No
            </th>
            <th style="text-align: center;  ">
                Station From
            </th>
            <th style="text-align: center;  ">
                Dep. Date
            </th>
            <th style="text-align: center;  ">
            Time(24hr)
        </th> 
            <th style="text-align: center;  ">
                To Station
            </th>
            <th style="text-align: center;  ">
                Arv Date
            </th>
            <th style="text-align: center;  ">
                Time(24hr)
            </th>
            <th style="text-align: center;  ">
                Travel Mode
            </th>
            <th style="text-align: center;  ">
                Ticket No
            </th>
            <th style="text-align: center; ">
                Fare Charge
            </th>
            <th style="text-align: center;  ">
                Remark
            </th>
            <th style="text-align: center; ">
                Attachment
            </th>
            <th style="text-align: center;  ">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.TravelFareList.Count > 0)
        {
            int q = 1;
            foreach (var fareitem in Model.TravelFareList)
            {
        <tr id="fareexprw_@q">
            <td align="center">
                @q
            </td>
            <td align="center">
                @Html.DropDownList("fromstation_" + @q, new SelectList(Model.CityList, "CITY_ID", "CITYNAME", fareitem.FROMSTATION), "--Select City--", new { @class = "form-control fromstation", @Id = "fromstation_" + @q, @Name = "fromstation_" + @q })


            </td>
            <td align="center">

                <input type="text" id="depdate_@q" data-todate="arrivaldate_@q" name="depdate_@q" value="@fareitem.DEPDATE.Value.ToString("dd/MMM/yyyy")" class="form-control DatePicker" onchange="FromDateValidatin(this)" readonly="readonly" autocomplete="off" />
            </td>
            <td align="center">

                <input id="deptime_@q" name="deptime_@q" type='time' class="form-control text-center" value="@fareitem.DEPTIME" placeholder="Time(24hr)" />
            </td>
            <td align="center">
                @Html.DropDownList("tostation_" + @q, new SelectList(Model.CityList, "CITY_ID", "CITYNAME", @fareitem.TOSTATION), "--Select City--", new { @class = "form-control tostation", @Id = "tostation_" + @q, @Name = "tostation_" + @q })


            </td>
            <td align="center">

                <input type="text" id="arrivaldate_@q" data-fromdate="depdate_@q" name="arrivaldate_@q" value="@fareitem.ARRDATE.Value.ToString("dd/MMM/yyyy")" class="form-control DatePicker" onchange="ToDateValidatin(this)" readonly="readonly" autocomplete="off" />
            </td>
            <td align="center">
                 
                <input id="arvtime_@q" name="arvtime_@q" type='time' class="form-control text-center" value="@fareitem.ARVTIME" placeholder="Time(24hr)" />
            </td>
            <td align="center">

                @Html.DropDownList("trvlmode_" + @q, new SelectList(Model.TravelModeList.Where(m => m.ModeType != "Local"), "travelModeId", "travelModeName", fareitem.TRAVELMODE), "--Select Mode--", new { @class = "form-control", @Id = "trvlmode_1", @Name = "trvlmode_1" })

            </td>
            <td align="center">
                <input type="text" id="ticketno_@q" name="ticketno_@q" value="@fareitem.TICKETNO" class="form-control" autocomplete="off" />
            </td>
            <td align="center">
                <input type="text" id="fareamt_@q" name="fareamt_@q" value="@fareitem.FARE" class="form-control decimalinput" style="text-align: right" autocomplete="off" />
            </td>
            <td align="center">
                <input type="text" id="fareexpremark_@q" name="fareexpremark_@q" value="@fareitem.REMARK" class="form-control" autocomplete="off" />
            </td>
            <td align="center">

                @if (Model.ActionName != "display" && (Model.travelExpHDRMaster.status < 2 || Model.travelExpHDRMaster.status == null))
                {
                    <span>
                        <input type="file" id="fareattachment_@q" name="fareattachment_@q" data-fileid="fareattachmentfile_@q" class="form-control" style="width:40%; float:left;" onchange="saveattachment(this)" />
                    </span>
                }
                @if (!string.IsNullOrEmpty(fareitem.ATTACHMENT))
                {
                    <span>
                        <a href="@Url.Action("DownloadAttachment", "Travel", new { fileName = fareitem.ATTACHMENT })" class="btn btn-primary" id="fareattachmentdownload_@q" style="float:left;margin: 0 2px 0 2px;"><i class="fa fa-download" style="padding: 4px 1px;"></i></a>
                    </span>
                }
                <input type="text" id="fareattachmentfile_@q" style="display:none;" name="fareattachmentfile_@q" value="@fareitem.ATTACHMENT" class="form-control" />
            </td>
            <td align="center">
                @if (q > 1)
                {
                    <a data-tbl="fareexp" data-name="fareexprw_@q" class="btn btn-sm btn-secondary  pt-top " onclick="return deleteRow(this);"><i class="fa fa-trash bg_red"></i></a>
                }
            </td>
        </tr>
                q++;
            }
        }
        else
        {
        <tr>
            <td align="center">
                1
            </td>
            <td align="center">
                @Html.DropDownList("fromstation_1", new SelectList(Model.CityList, "CITY_ID", "CITYNAME"), "--Select City--", new { @class = "form-control fromstation", @Id = "fromstation_1", @Name = "fromstation_1" })



            </td>
            <td align="center">

                <input type="text" id="depdate_1" name="depdate_1" data-todate="arrivaldate_1" class="form-control DatePicker" onchange="FromDateValidatin(this)" readonly="readonly" autocomplete="off" />
            </td>
            <td align="center">

                <input id="deptime_1" name="deptime_1" type='time' class="form-control text-center" value="00:00" />
            </td>
            <td align="center">
                @Html.DropDownList("tostation_1", new SelectList(Model.CityList, "CITY_ID", "CITYNAME"), "--Select City--", new { @class = "form-control tostation", @Id = "tostation_1", @Name = "tostation_1" })


            </td>
            <td align="center">

                <input type="text" id="arrivaldate_1" name="arrivaldate_1" data-fromdate="depdate_1" class="form-control DatePicker" onchange="ToDateValidatin(this)" readonly="readonly" autocomplete="off" />
            </td>
            <td align="center">

                <input id="arvtime_1" name="arvtime_1" type='time' class="form-control text-center" value="00:00" />
            </td>
            <td align="center">

                @Html.DropDownList("trvlmode_1", new SelectList(Model.TravelModeList.Where(m => m.ModeType != "Local"), "travelModeId", "travelModeName"), "--Select Mode--", new { @class = "form-control", @Id = "trvlmode_1", @Name = "trvlmode_1" })

            </td>
            <td align="center">
                <input type="text" id="ticketno_1" name="ticketno_1" class="form-control" autocomplete="off" />
            </td>
            <td align="center">
                <input type="text" id="fareamt_1" name="fareamt_1" class="form-control decimalinput" style="text-align: right" autocomplete="off" />
            </td>
            <td align="center">
                <input type="text" id="fareexpremark_1" name="fareexpremark_1" class="form-control" autocomplete="off" />
            </td>
            <td align="center">
                <span>
                    <input type="file" id="fareattachment_1" name="fareattachment_1" data-fileid="fareattachmentfile_1" class="form-control" style="width:60%; float:left;" onchange="saveattachment(this)" />
                </span>
                <input type="text" style="display:none;" id="fareattachmentfile_1" name="fareattachmentfile_1" class="form-control" />

            </td>
            <td align="center"></td>
        </tr>
        }



    </tbody>
</table>
<div class="card-footer">
    <div class="clearfix">
        <div class="float-left">
            @if (Model.ActionName != "display" && (Model.travelExpHDRMaster.status < 2 || Model.travelExpHDRMaster.status == null))
            {
                <a href="##" id="btnaddrow" value="AddMore" style="margin-right:40px" class="btn btn-primary" title="Add More Expense" onclick="return addFarerow();">Add More</a>
            }
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {

         
        $(".fromstation").chosen();
        $(".tostation").chosen();


    })


</script>
 
