@model LumaxDMS.Models.TravelExpenseModel
@using BusinessObject;
@Html.DropDownList("HiddendtlcmpId", new SelectList(ViewBag.AccList, "ACCOUNTID", "ACCOUNTNAME"), "--Select Account--", new { @class = "form-control", @Id = "HiddendtlcmpId", @Name = "HiddendtlcmpId", @Style = "display:none" })
@using (@Html.BeginForm("SaveOtherExpense", "Travel", FormMethod.Post, new { enctype = "multipart/form-data", @id = "otherdtlform", @name = "otherdtlform" }))
{
    @Html.Hidden("OtherDtlXml")

    <input type="text" id="Othr_date" style="display:none;" value="@ViewBag.date" />
    <input type="text" id="Othr_amtId" style="display:none;" value="@ViewBag.id" />
    <table id="other_dtl_tbl" class="table table-striped table-bordered" style="width: 100%">
        <thead class="thead-lights">
            <tr>
                <th>Sno.</th>
                <th style="text-align: center">COMPONENT</th>
                <th style="text-align: center">PRICE</th>
                <th style="text-align: center">Action</th>
            </tr>
        </thead>
        <tbody>

            @{ var list = (List<TravelOtherDTLMaster>)ViewBag.List;}
            @if (list.Count > 0)
            {
                int i = 1;
                foreach (var item in ViewBag.List as List<TravelOtherDTLMaster>)
                {


                    <tr id="otherdtlrw_@i">
                        <td>@i.</td>
                        <td>

                            @Html.DropDownList("dtlcmp_" + @i, new SelectList(ViewBag.AccList, "ACCOUNTID", "ACCOUNTNAME", item.ACCOUNTID), "--Select Account--", new { @class = "form-control dtlcmp", @Id = "dtlcmp_" + @i, @Name = "dtlcmp_" + @i, @onchange = "othrDTLvalidation(this)" })
                        </td>
                        <td><input type="text" id="dtlprice_@i" class="form-control decimalinput" value="@item.AMOUNT" autocomplete="off" placeholder="enter price" style="text-align: right" /></td>
                        @if (i > 1)
                        {
                            <td align="center"><a data-tbl="otherexp" data-name="otherdtlrw_@i" class="btn btn-sm btn-secondary  pt-top " onclick="return deletedtlRow(this);"><i class="fa fa-trash bg_red"></i></a></td>

                        }
                        else
                        {
                            <td></td>
                        }

                    </tr>
                    i++;
                }
            }
            else
            {
                <tr id="otherdtlrw_1">
                    <td>1.</td>
                    <td>

                        @Html.DropDownList("dtlcmp_1", new SelectList(ViewBag.AccList, "ACCOUNTID", "ACCOUNTNAME"), "--Select Account--", new { @class = "form-control dtlcmp", @Id = "dtlcmp_1", @Name = "dtlcmp_1",@onchange="othrDTLvalidation(this)" })
                    </td>
                    <td><input type="text" id="dtlprice_1" class="form-control numberinput" autocomplete="off" placeholder="enter price" style="text-align: right" /></td>

                    <td></td>
                </tr>
            }


        </tbody>
    </table>

    <div class="card-footer">
        <div class="clearfix">
            <div class="float-right">

                <a href="##" id="btnSaveDTL" value="Save" style="margin-right:40px" class="btn btn-primary" onclick="return Saveotherdtl();">Save</a>

            </div>
            <div class="float-left">

                <a href="##" id="btnaddrow" value="AddMore" style="margin-right:40px" class="btn btn-primary" title="Add More Expense" onclick="return AddotherdtlRow();">Add More</a>

            </div>

        </div>
    </div>
}

<script>
    function AddotherdtlRow() {

        var j = $("#other_dtl_tbl > tbody > tr").length + 1;
        $("#other_dtl_tbl tbody").append(
            '<tr id="otherdtlrw_' + j + '">' +
            '<td align="center">' + j + '.</td>' +
            '<td align="center">' +
            '<select id="dtlcmp_' + j + '" name="dtlcmp_' + j + '" class="form-control dtlcmp" onchange="othrDTLvalidation(this)">' + $("#HiddendtlcmpId").html() + '</select >' +
            //'< input type = "text" id = "dtlcmp_' + j + '" name = "dtlcmp_' + j + '" class= "form-control" />'+
            '</td > ' +
            '<td align="center"><input type="text" id="dtlprice_' + j + '" name="dtlprice_' + j + '" class="form-control numberinput" placeholder="enter price" style="text-align: right" /></td>' +
            '<td align="center"><a data-tbl="otherexp" data-name="otherdtlrw_' + j + '" class="btn btn-sm btn-secondary  pt-top " onclick="return deletedtlRow(this);"><i class="fa fa-trash bg_red"></i></a></td>' +
            '</tr>'
        )


    }

    function deletedtlRow(input) {
        try {
            var rowid = $(input).attr("data-name");//"otherrw" + Id;
            var tblname = $(input).attr("data-tbl");

            $("#" + rowid).remove();
            var table = document.getElementById(tblname).getElementsByTagName('tbody')[0];
            var rowCount = table.rows.length;

            var newserialnumber = 1;
            for (var i = 1; i < rowCount; i++) {
                newserialnumber = newserialnumber + 1;
                var row = table.rows[i];
                var serialtd = row.cells[0];
                serialtd.innerHTML = newserialnumber;
            }
            serialnumber = newserialnumber;
        }
        catch (e) {
            alert(e);
        }
    }

    function Saveotherdtl() {
        var istrue = checkothrDTLvalidation();
        
        if (istrue) {
            var otherdtlarr = new Array();
            var amt = 0.00;
            $('#other_dtl_tbl tbody tr').each(function (i, tr) {
                otherdtlarr[i] = {
                    AcountId: ($(tr).find("td:nth-child(2) option:selected")).val(),
                    amount: ($(tr).find("td:nth-child(3) input[type=text]")).val(),


                }
                if ($(tr).find("td:nth-child(3) input[type=text]").val() != "")
                    amt = parseFloat(amt) + parseFloat($(tr).find("td:nth-child(3) input[type=text]").val())
            });
            $('#OtherDtlXml').val(JSON.stringify(otherdtlarr));
            var amtid = $("#Othr_amtId").val()
            $("#" + amtid).val(amt);
            $.getJSON("/Travel/OtherDTL/", { dtlxml: $('#OtherDtlXml').val(), othrdate: $("#Othr_date").val(), usercode: $("#travelExpHDRMaster_UserCode").val() }, function (data) {
                if (data == "SUCCESS") {
                    $("#btnclosed").click();
                }
                else {
                    alert("Internal server error ocurred");
                    $("#btnclosed").click();
                }

            });

        }


    }

    function othrDTLvalidation(selectdata) {
        var count = 0;

        $('#other_dtl_tbl tbody tr').each(function (i, tr) {
            
            var d1 = $(selectdata).val();
            var d2 = $(tr).find("td:nth-child(2) option:selected").val();
            if (d1 == d2) {
                count = count + 1;
            }
             

        });

        if (count > 1)
        {
            alert("This component already added");
            $(selectdata).val('');
        }
    }

    function checkothrDTLvalidation() {
        var count = 0;
        var ln = $('#other_dtl_tbl tbody tr').length;
        
        $('#other_dtl_tbl tbody tr').each(function (i, tr) {
             
             
            if ($(tr).find("td:nth-child(2) option:selected").val() != "" && $(tr).find("td:nth-child(3) input[type=text]").val()!="") {
                count = count + 1;
            }


        });
        
        if (count != ln) {
            alert("Please fill All fields");
            return false;
        }
        else {
            return true;
        }
    }
</script>

