@model LumaxDMS.Models.BaseReportModel
@using LumaxDMS.AppCode
@{
    ViewBag.Title = "Pending DA Report";

}
@{Html.RenderPartial("_WaitModal");}

<link href="~/Scripts/Choosen/Choosen.css" rel="stylesheet" />
<link href="~/Content/css/DateRange/daterangepicker.css" rel="stylesheet" />
<div class="card card-default">
    <div class="card-header card_bg">
        <div class="card-title card_tittle2">Pending DA Report</div>
    </div>
    @using (Html.BeginForm("PendingDA", "SaleReport", FormMethod.Post, new { @Id = "SaleOrderReportForm" }))
    {
        @Html.HiddenFor(m => m.hdnSelectedUserArea)
        @Html.HiddenFor(m => m.FROMDATE)
        @Html.HiddenFor(m => m.TODATE)
        <div class="card-body">
            <div class="row">

                <div class="col-lg-2 col-xs-12">
                    <label for="pwd">
                        Date:
                    </label>
                </div>
                <div class='col-lg-6'>
                    <div class="">
                        <div id="reportrange" class="form-control" style="clear: both">
                            <i class="fa fa-calendar" style="float: left"></i>&nbsp;
                            <span style="font-size:11px;"></span><b class="caret"></b>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-2 col-xs-12">
                    By Area
                </div>
                <div class='col-lg-10'>
                    @{Html.RenderPartial("AddPartyFilter", Model);}
                </div>
            </div>
            <br />

            <div class="card-footer">
                <div class="clearfix">
                    <div class="float-right">
                        <input type="Submit" name="input" value="Search" class="btn btn-primary" />
                        @*<input type="Submit" formtarget="_blank" name="input" value="Print (PDF)" class="btn btn-primary" />*@
                        <input type="Submit" formtarget="_blank" name="input" value="Export (EXCEL)" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>

    }
    <hr />
    <div class="container custom-datable">
        <div class="card-body">
            <div class="panel panel-default">

                @{ Html.RenderPartial("_ReportData", @Model); }
            </div>
        </div>
    </div>
</div>
@section JS {
    <script src="~/Scripts/DateRange/moment.min.js"></script>
    <script src="~/Scripts/DateRange/daterangepicker.js"></script>
    <script src="~/Scripts/DateRange/DateTimeFormat.js"></script>
    <script src="~/Scripts/ProjectJS/C_AreaJS.js"></script>
    <script>
        $(document).ready(function () {
            $(".rptPO").chosen();


        })
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var checkUrl = '@Url.Action("getAllArea", "Admin")';
            debugger;
            for (var i = 1; i < 8; i++) {
               if ('@Model.C_SelectedAreaType' != i) {
                    GetAllAreaById(checkUrl, i);
               }
            }

            $('#btnadd').hide();

            FormatDateRange(formatDate('@Model.FROMDATE'), formatDate('@Model.TODATE'), 'reportrange');

            HideWaitingSymbol();

        });

        $('.btn-primary').click(function () {
            debugger;
            var daterange = $('#reportrange')[0].innerText;
            var dt1 = $.trim(daterange.split('-')[0]);
            var dt2 = $.trim(daterange.split('-')[1]);
            document.getElementById("FROMDATE").value = dt1;
            document.getElementById("TODATE").value = dt2;
        });


    </script>
}
