@model LumaxDMS.Models.DsrhdrdtlModel
@using LumaxDMS.AppCode
@{
    ViewBag.Title = "DSR Actual lIST";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
    var IsAdmin = ViewBag.Usertype;
}

<div class="card card-default">
    <div class="panel panel-default panel_pt">
        <div class="card-header card_bg">
            <div class="card-title card_tittle2"> @*PLAN DETAIL*@  DSR PLAN DETAILS-TODAY VISIT's</div>
        </div>

        <div class="card-body">

            @using (Html.BeginForm("CreateDSRActualList", "DSR", FormMethod.Post, new { @class = "form-horizontal" }))
            {

                <div class="row">

                    <div class="col-lg-2">
                        <label for="pwd">
                            Employee :
                        </label>
                    </div>
                    <div class="col-lg-6">
                        @if (Model.EmpList.Count == 1)
                        {
                            @Html.DropDownListFor(m => m.Selectedemployee_id, new SelectList(Model.EmpList, "Emp_Id", "DISPLAYEMPNAME"), "-- Select--", new { @class = "form-control", @readonly = "readonly", @hidden = "hidden" })
                            @Html.DropDownListFor(m => m.Selectedemployee_id, new SelectList(Model.EmpList, "Emp_Id", "DISPLAYEMPNAME"), "-- Select--", new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.Selectedemployee_id, new SelectList(Model.EmpList, "Emp_Id", "DISPLAYEMPNAME"), "-- Select--", new { @class = "form-control chosen-select", @onchange = "hidebtn()" })
                        }
                    </div>


                    <div class="col-lg-2">
                        <label for="pwd">
                            PLAN DATE :
                        </label>
                    </div>
                    <div class="col-lg-2">

                        <div class="input-group date datepicker">
                            @Html.TextBoxFor(m => m.plandate, new { @class = "form-control from_bg from_bg2 datepicker", @readonly = "true", @onchange = "hidebtn();" })
                            <span class="input-group-append input-group-addon">
                                <i class="input-group-text2 fa fa-calendar"></i>
                            </span>

                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-lg-2">
                        <label for="pwd">
                            PLAN NO :
                        </label>
                    </div>
                    <div class="col-lg-4">
                        @*@Html.TextBoxFor(m => m.Plancode, new { @class = "form-control from_bg from_bg2"})*@
                        @(Model.Plancode)

                    </div>
                    <div class="col-md-3">
                        <input name="input" type="submit" class="mb-1 btn btn-success pull-right" id="showdtl" value="SHOW VISIT DETAIL" />
                    </div>
                    <div align="right" class="col-lg-3">
                        @if (Model.PermissionNameList.Contains(Constants.PermissionName.CREATE))
                        {
                            @*if (ViewBag.show != null)
                                {
                                    <input id="crtplan" name="input" type="button" class="mb-1 btn btn-success pull-right" value="CREATE UNPLANNED VISIT" onclick="return CreateNew();" />
                                }*@
                            <input id="crtplan" name="input" type="button" class="mb-1 btn btn-success pull-right" value="CREATE UNPLANNED VISIT" onclick="return CreateNew();" />
                        }
                    </div>
                </div>
            }
        </div>

    </div>

    <div class="panel panel-default panel_pt">
        <div class="card-header card_bg">
            <div class="card-title card_tittle2">ACTUAL DSR LIST</div>
        </div>


        <div class="card-body">
            @if (Model.PlannedCityList != null)
            {
                @*foreach (var item in Model.PlannedCityList)
                    {
                        <div class="col-lg-3">

                            <label class="col-lg-5">
                                @Html.DisplayFor(m => item.CityName)
                            </label>

                            <a class="mb-1 btn btn-success" href="/DSR/FillActualDSR?Id=@item.PLANEDCITIES_ID&ActionName=edit&from=FILLCITY&@Constants.HASH_DSR">
                                Fill Plan
                            </a>
                        </div>
                    }*@
                @Html.Raw(Model.PlannedCities)

            }
            <br />
            <br />
            <hr />
            <table id="example2" class="table table-striped table-bordered" style="width: 100%">
                <thead class="thead-lights">
                    <tr>
                        <th>Sno.</th>
                        <th>
                            City
                        </th>
                        <th>
                            Customer Type
                        </th>
                        <th>
                            Customer Name
                        </th>
                        <th>
                            Customer Number
                        </th>
                        <th>
                            Actual  In Time
                        </th>
                        <th>
                            Actual  Out Time
                        </th>
                        <th>
                            Remarks
                        </th>

                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.dsrdetailMasterList != null)
                                {
                                    int j = 1;
                                    foreach (var item in Model.dsrdetailMasterList)
                                    {
                            <tr>
                                <td>@j</td>
                                <td>@Html.DisplayFor(m => item.cityName)</td>
                                <td>@Html.DisplayFor(m => item.CustomerType)</td>
                                <td>@Html.DisplayFor(m => item.CustomerName)</td>
                                <td>@Html.DisplayFor(m => item.CustomerContactNumber)</td>
                                <td>@(item.CHECKINTIME == null ? "---" : Convert.ToDateTime(item.CHECKINTIME).ToString("HH:mm"))   </td>
                                <td>@(item.CHECKOUTTIME == null ? "---" : Convert.ToDateTime(item.CHECKOUTTIME).ToString("HH:mm")) </td>
                                <td>@Html.DisplayFor(m => item.REMARKS)</td>
                                <td>
                                    @if (Model.PermissionNameList.Contains(Constants.PermissionName.EDIT) && item.IS_APPROVE == null)
                                                {
                                        <a class="btn btn-sm btn-secondary  pt-top " href="/DSR/FillActualDSR?Id=@item.DTLPLAN_ID&ActionName=edit&@Constants.HASH_DSR">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-sm btn-secondary  pt-top " href="/DSR/FillActualDSR?Id=@item.DTLPLAN_ID&ActionName=display&@Constants.HASH_DSR">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    }

                                </td>
                            </tr>
                            j++;
                        }
                    }

                </tbody>
            </table>

        </div>

    </div>
</div>


<script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="~/Scripts/ProjectJS/ManageMaster_Common.js"></script>
<script src="~/Scripts/ProjectJS/Common.js"></script>

<script type="text/javascript">



    var usertypestatus = 'Y'; //'@IsAdmin';
    $(document).ready(function () {
        $("#Selectedemployee_id").on("change", function () {
            //$("#crtplan").hide();
        });
        $("#plandate").on("change", function () {
           // $("#crtplan").hide();
        });

        var today = new Date();
        if (usertypestatus == 'Y') {
            $(".datepicker").datepicker({ format: 'dd/M/yyyy', orientation: "bottom auto", autoclose: true, endDate: "today", maxDate: today });
        }
        $('#plandate').val(formatDate($('#plandate').val()));

    });

    $(document).ready(function () {
        var table = $('#example2').DataTable({
            responsive: true,
            "order": [[2, "asc"]]
        });

        new $.fn.dataTable.FixedHeader(table);
    });
    function CreateNew() {

        var myUrl = '@Url.Action("FillActualDSR", "DSR")';
        var empname = $("#Selectedemployee_id option:selected").text();
        var empid = $("#Selectedemployee_id").val();
        var plndate = $("#plandate").val();
        window.location.href = myUrl + "?Id=" + empid + "&ActionName=" + 'edit' + "&from=" + 'UNPLANNED' + "&planDate=" + plndate + "@Constants.HASH_DSR";

        }



</script>