@model LumaxDMS.Models.DepartmentModel
@using LumaxDMS.AppCode
@{
    ViewBag.Title = "DepartmentList";
}
@{Html.RenderPartial("CreateDepartment", Model);}

<div class="card card-default">
    <div class="card-header card_bg">
        <div class="card-title card_tittle2">DEPARTMENT LIST</div>
    </div>

    <div class="container custom-datable">
        <div class="card-body">
            <div class="panel panel-default">

                <div class="col-sm-12 col-md-12">
                    <table id="departmenttbl" class="table table-striped table-bordered dt-responsive nowrap"
                           style="width: 100%">
                        <thead class="thead-lights">
                            <tr>
                                <th>
                                    Department Name
                                </th>
                                <th>
                                    Department Description
                                </th>
                                <th>
                                    Remarks
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Created By
                                </th>
                                <th>
                                    Created Date
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DeaprtmentList)
                            {
                                <tr>
                                    <td>
                                        @item.DEPARTMENTNAME
                                    </td>
                                    <td>
                                        @item.DEPARTMENTDESC
                                    </td>
                                    <td>
                                        @item.REMARKS
                                    </td>
                                    <td>
                                        @Html.DisplayStatus(@item.ISACTIVE)
                                    </td>
                                    <td>
                                        @item.CREATEDBY
                                    </td>
                                    <td>
                                        @Html.DisplayDate(@item.CREATEDDATE)
                                    </td>
                                    <td class="text_center">
                                        @if (Model.PermissionNameList.Contains(Constants.PermissionName.EDIT))
                                        {
                                            <a href="#" title="Edit Department" onclick="return EditDepartment(@item.DEPARTMENT_ID)">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        }
                                        @if (Model.PermissionNameList.Contains(Constants.PermissionName.INACTIVE))
                                        {
                                            <a href="##" onclick="return DeleteDepartment(@item.DEPARTMENT_ID)" title="Delete Department">
                                                <i class="fa fa-trash bg_red"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("DeleteDepartment", "ManageMaster", FormMethod.Post, new { @Id = "PostDelete" }))
{
    @Html.HiddenFor(m => m.Department_Id, new { @Id = "Del_Departmentid" });
}

@section JS {
    <script type="text/javascript">

        $(document).ready(function () {
            $('#departmenttbl').DataTable();
        });


        function DeleteDepartment(id) {
            $('.modal-title').html("DELETE DEPARTMENT");
            $('.modal-body').html("You are about to delete a record. <br/> Do you want to continue.");
            $('#Del_Departmentid').val(id);
            $('#DeleteModel').modal('show');

        }

        $("#SubmitDelete").click(function () {
            $("#PostDelete").submit();

        });

    </script>
}
