@model LumaxDMS.Models.TerritoryModel
@using LumaxDMS.AppCode
@{
    ViewBag.Title = "CreateTerritory";

}


@{ Html.RenderPartial("CreateTerritory", @Model); }


<div class="card card-default">
    <div class="card-header card_bg">
        <div class="card-title card_tittle2">TERRITORY LIST</div>
    </div>

    <div class="container custom-datable">
        <div class="card-body">
            <div class="panel panel-default">

                <div class="col-sm-12 col-md-12">
                    <table id="territorytbl" class="table table-striped table-bordered dt-responsive nowrap"
                           style="width: 100%">
                        <thead class="thead-lights">
                            <tr>
                                <th>
                                    Territory Name
                                </th>
                                <th>
                                    Territory Code
                                </th>
                                <th>
                                    Territory Desc
                                </th>
                                @*<th>
                                    State Name
                                </th>*@
                                <th>
                                    Country Name
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.territoryMasterList)
                            {
                                <tr>
                                    <td>
                                        @item.TERRITORYNAME
                                    </td>
                                    <td>
                                        @item.TERRITORYCODE
                                    </td>
                                    <td>
                                        @item.TERRITORYDESC
                                    </td>
                                    @*<td>
                                        @item.StateName
                                    </td>*@

                                    <td>
                                        @item.CountryName
                                    </td>
                                    <td>
                                        @Html.DisplayStatus(@item.ISACTIVE)
                                    </td>
                                    <td class="text_center">
                                        @if (Model.PermissionNameList.Contains(Constants.PermissionName.EDIT))
                                        {
                                            <a href="#" title="edit territory" onclick="return EditTerritory(@item.TERRITORY_ID)">
                                                <i class="fa fa-pencil">
                                                </i>
                                            </a>
                                        }

                                            @if (Model.PermissionNameList.Contains(Constants.PermissionName.INACTIVE))
                                            {
                                                <a href="##" onclick="return DeleteTerritory(@item.TERRITORY_ID)" title="delete territory">
                                                    <i class="fa fa-trash bg_red"></i>
                                                </a>
                                            }

                                        </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("DeleteTerritory", "ManageMaster", FormMethod.Post, new { @Id = "PostDelete" }))
{
    @Html.HiddenFor(m => m.Territory_Id, new { @Id = "Del_TerritoryId" });
}
@section JS {
    <script type="text/javascript">

        $(document).ready(function () {
            $('#updatepindiv').hide();
            $('#creatpindiv').show();
            $('#territorytbl').DataTable();
        });


        function DeleteTerritory(id) {
            $('.modal-title').html("DELETE TERRITORY");
            $('.modal-body').html("You are about to delete a record. <br/> Do you want to continue.");
            $('#Del_TerritoryId').val(id);
            $('#DeleteModel').modal('show');

        }

        $("#SubmitDelete").click(function () {
            $("#PostDelete").submit();

        });

    </script>
}
