@model LumaxDMS.Models.ZoneModel
@using LumaxDMS.AppCode
@{
    /**/

    ViewBag.Title = "CreateZone";
}

@if (Model.PermissionNameList.Contains(Constants.PermissionName.CREATE))
{
    { Html.RenderPartial("CreateZone", @Model); }
}
<div class="card card_ps">
    <div class="panel panel-default panel_pt">
        <div class="header_ps">
            <span>ZONE LIST</span>
        </div>
        <div class="container custom-datable">
            <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-heading" style="padding: 10px;">
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <table id="zonetbl" class="table table-striped table-bordered dt-responsive nowrap"
                               style="width: 100%">
                            <thead class="thead-lights">
                                <tr>

                                    <th>
                                        Zone
                                    </th>
                                    <th>
                                        Zone Desc
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.zoneMasterList)
                                {
                                    <tr>

                                        <td>
                                            @item.ZONENAME
                                        </td>
                                        <td>
                                            @item.ZONEDESC
                                        </td>
                                        <td>
                                            @item.CountryName
                                        </td>
                                        <td>
                                            @Html.DisplayStatus(@item.ISACTIVE)
                                        </td>
                                        <td class="text_center">
                                            @if (Model.PermissionNameList.Contains(Constants.PermissionName.EDIT))
                                            {<a href="#" title="edit zone" onclick="return EditZone(@item.ZONE_ID)"><i class="fa fa-pencil"></i></a>
                                            }
                                            @if (Model.PermissionNameList.Contains(Constants.PermissionName.INACTIVE))
                                            {<a href="#" onclick="return DeleteZone(@item.ZONE_ID)" title="delete zone">
                                                    <i class="fa fa-trash bg_red"></i>
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("DeleteZone", "ManageMaster", FormMethod.Post, new { @Id = "PostDelete" }))
{
    @Html.HiddenFor(m => m.Zone_Id, new { @Id = "Del_ZoneId" });
}

@section JS {
    <script type="text/javascript">

        $(document).ready(function () {
            $('#zonetbl').DataTable();
        });



        function DeleteZone(id) {
            $('.modal-title').html("DELETE ZONE");
            $('.modal-body').html("You are about to delete a record. <br/> Do you want to continue.");
            $('#Del_ZoneId').val(id);
            $('#DeleteModel').modal('show');

        }

        $("#SubmitDelete").click(function () {
            $("#PostDelete").submit();

        });
    </script>
}
