@model LumaxDMS.Models.CRMReportModel
@using LumaxDMS.AppCode
@{
    ViewBag.Title = "Complaint Status Case Zone Report";

}
@{Html.RenderPartial("_WaitModal");}
<link href="~/Scripts/Choosen/Choosen.css" rel="stylesheet" />
<link href="~/Content/css/DateRange/daterangepicker.css" rel="stylesheet" />
<div class="card card-default">
    <div class="card-header card_bg">
        <div class="card-title card_tittle2">COMPLAINT STATUS - CASE-ZONE-ST</div>
    </div>
    @using (Html.BeginForm("ComplaintStatusCaseZoneReport", "Report", FormMethod.Post, new { @Id = "hitmisFormId" }))
    {
        @Html.Hidden("hdnSelectedUserArea")
        @Html.HiddenFor(m => m.FROMDATE)
        @Html.HiddenFor(m => m.TODATE)
        <div class="card-body">
            <div class="row">

                <div class="col-lg-2 col-xs-12">
                    <label for="pwd">
                        Date:
                    </label>
                </div>
                <div class='col-lg-6'>
                    <div class="">
                        <div id="reportrange" class="form-control" style="clear: both">
                            <i class="fa fa-calendar" style="float: left"></i>&nbsp;
                            <span style="font-size:11px;"></span><b class="caret"></b>
                        </div>
                    </div>
                </div>
                @*<div class="col-lg-2 col-xs-12">
            <label for="pwd">
                CaseType:
            </label>
        </div>
        <div class="col-lg-4">
            @Html.DropDownListFor(m => m.CaseTypeId, new SelectList(Model.CaseTypeList, "CASETYPEID", "CaseTypeWithApprovalDays"), "---Select---", new { @Class = "form-control avaiable_mcode" })
        </div>*@
            </div>
            @{Html.RenderPartial("AddPartyFilter", Model);}


            <br />
            <div class="card-footer">
                <div class="clearfix">
                    <div class="float-right">
                        <input type="Submit" name="input" value="Show Detail" class="btn btn-primary" />
                        <input type="Submit" formtarget="_blank" name="input" value="Export (EXCEL)" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>

    }
    <div class="container custom-datable">
        <div class="card-body">
            <div class="panel panel-default">

                @{ Html.RenderPartial("_ReportData", @Model); }
            </div>
        </div>
    </div>
</div>
@section JS {
    <script src="~/Scripts/DateRange/moment.min.js"></script>
    <script src="~/Scripts/DateRange/daterangepicker.js"></script>
    <script src="~/Scripts/DateRange/DateTimeFormat.js"></script>
    <script src="~/Scripts/ProjectJS/C_AreaJS.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var checkUrl = '@Url.Action("getAllArea", "Admin")';

            GetAllAreaById(checkUrl, 1);

            GetAllAreaById(checkUrl, 2);

            GetAllAreaById(checkUrl, 3);

            GetAllAreaById(checkUrl, 4);

            GetAllAreaById(checkUrl, 5);

            GetAllAreaById(checkUrl, 6);

            //GetAllAreaById(checkUrl, 7);

            //GetAllAreaById(checkUrl, 8);
            $('#btnadd').hide();

               FormatDateRange(formatDate('@Model.FROMDATE'), formatDate('@Model.TODATE'), 'reportrange');


            HideWaitingSymbol();
        });

        $('.btn-primary').click(function () {
            debugger;
            var daterange = $('#reportrange')[0].innerText;
            var dt1 = $.trim(daterange.split('-')[0]);
            var dt2 = $.trim(daterange.split('-')[1]);
            document.getElementById("FROMDATE").value = dt1;
            document.getElementById("TODATE").value = dt2;
        });

    </script>
}




